.body-container {
  width: 900px;
  margin: auto;
}

.body-container .shape2 {
  position: absolute;
  top: 80px;
  right: 10px;
  width: 110px;
}

.body-container h1 {
  background: -webkit-linear-gradient(0deg, rgba(60,214,186,1) 0%, rgba(84,169,211,1) 50%, rgba(119,97,251,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 50px;
  font-weight: normal;
  margin-top: 45px;
  margin-bottom: 25px;
}

.body-container h4 {
  color: #757b89;
  width: 590px;
  margin: auto;
  font-weight: 500;
  font-size: 17px;
  line-height: 1.3rem;
  margin-bottom: 25px;
}

.body-container .get-started-button {
  background: linear-gradient(90deg, rgba(42,196,160,1) 0%, rgba(74,159,198,1) 50%, rgba(108,120,239,1) 100%);
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 13px 40px;
  font-size: 16px;
  border-radius: 12px;
  font-weight: 500;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.get-started-button:active {
  transform: translateX(-50%) scale(0.9);
}

.bottom-container {
  width: 100%;
  min-height: 260px;
  height: 100%;
  background: linear-gradient(90deg, rgba(121,95,255,1) 0%, rgba(56,28,205,1) 100%);
  margin-top: -152px;
  z-index: 1;
  position: relative;
}

.bottom-container .shape1 {
  position: absolute;
  width: 180px;
  top: -100px;
}