body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

html, body {
  width: 100vw;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.text-center {
  text-align: center;
}

.text-bold {
  font-weight: 600;
}

.text-blue {
  color: #381bcb;
}

.text-red {
  color: #e63d3d;
}

.text-green {
  color: #009471;
}
